<div>
    <h3>Form for editing topic</h3>
</div>
<form (ngSubmit)="saveEditedTopic()" [formGroup]="addTopicForm">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" formControlName="title">
        <div class="err" *ngIf="addTopicForm.get('title')?.hasError('required') &&
                    addTopicForm.get('title')?.touched "> Title is required
        </div>
        <div class="err" *ngIf="addTopicForm.get('title')?.hasError('required') &&
                    addTopicForm.get('title')?.dirty "> Empty title is not allowed
        </div>
        <div class="err" *ngIf="addTopicForm.get('title')?.hasError('notInUpperCase') &&
                    addTopicForm.get('title')?.dirty "> Please, cap letter in Uppercase
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" formControlName="description">
    </div>
    <button [disabled]="addTopicForm.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
